stages:
  - gradle
  - npm
  - qodana
  - docker

variables:
  # Docker
  DOCKER_API_VERSION: "1.44"
  # Registry
  REGISTRY: ghcr.io
  # Gradle
  GRADLE_USER_HOME: "$CI_PROJECT_PATH/gradle"

default:
  cache:
    key: "$CI_COMMIT_REF_NAME"
    paths:
      - build
      - .gradle
      - node_modules/
      - .pnpm-store/
  before_script:
    - wget -qO /bin/pnpm "https://github.com/pnpm/pnpm/releases/latest/download/pnpm-linuxstatic-x64" && chmod +x /bin/pnpm
    - pnpm config set store-dir .pnpm-store

gradle:test:
  stage: gradle
  image: gradle:jdk21-alpine
  script: gradle test 
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/**/TEST-*.xml

gradle:diktat:
  stage: gradle
  image: gradle:jdk21-alpine
  script: gradle diktatCheck
  
gradle:build:
  stage: gradle
  image: docker:cli
  before_script: 
    - apk add --no-cache openjdk21 gradle
  script:
    - ./gradlew build -Dquarkus.package.type=native -Dquarkus.native.container-build=true -x spotlessKotlin diktatCheck
  artifacts:
    paths:
      - "build/*-runner"
  only:
    - tags

npm:build:
  stage: npm
  image: node:alpine
  script:
    - pnpm i
    - pnpm build

npm:lint:
  stage: npm
  image: node:alpine
  script:
    - pnpm i
    - pnpm lint

docker_build:
  stage: docker
  image: docker:cli
  before_script:
    - docker login $REGISTRY -u $REGISTRY_USER -p $REGISTRY_PASSWORD
  script:
    - docker build --pull -t "mood" .
    # latest tag
    - docker tag "mood" "$REGISTRY/$PROJECT_NAMESPACE/mood:latest"
    - docker push "$REGISTRY/$PROJECT_NAMESPACE/mood:latest"
    # version tag
    - docker tag "mood" "$REGISTRY/$PROJECT_NAMESPACE/mood:$CI_COMMIT_TAG"
    - docker push "$REGISTRY/$PROJECT_NAMESPACE/mood:$CI_COMMIT_TAG"
  dependencies:
    - gradle:build
  only:
    - tags

qodana:
  stage: qodana
  image:
    name: jetbrains/qodana-jvm-community:latest
    entrypoint: [""]
  script: qodana scan
  only:
    - schedules
  artifacts:
    paths:
      - qodana/

