stages:
  - gradle
  - qodana
  - docker

default:
  before_script: export GRADLE_USER_HOME="$(pwd)/.gradle"
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle

variables:
  REGISTRY: ghcr.io

gradle:test:
  stage: gradle
  image: gradle:jdk21-alpine
  script: gradle test 
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/**/TEST-*.xml

gradle:diktat:
  stage: gradle
  image: gradle:jdk21-alpine
  script: gradle diktatCheck

docker_build:
  stage: docker
  services:
    - docker:dind
  before_script:
    - docker login $REGISTRY -u $REGISTRY_USER -p $REGISTRY_PASSWORD
  script:
    - docker build --pull -t "mood" .
    # latest tag
    - docker tag "mood" "$REGISTRY/$PROJECT_NAMESPACE/mood:latest"
    - docker push "$REGISTRY/$PROJECT_NAMESPACE/mood:latest"
    # version tag
    - docker tag "mood" "$REGISTRY/$PROJECT_NAMESPACE/mood:$CI_COMMIT_TAG"
    - docker push "$REGISTRY/$PROJECT_NAMESPACE/mood:$CI_COMMIT_TAG"
  image: docker:cli
  only:
    - tags


qodana:
  stage: qodana
  image:
    name: jetbrains/qodana-jvm-community:latest
    entrypoint: [""]
  variables:
    QODANA_TOKEN: $qodana_token
  script: qodana scan
  artifacts:
    paths:
      - qodana/
  only:
    - schedules

