{#include components/header /}

<body class="d-flex flex-column h-100">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center p-4">
                    {#include components/title /}

                    <p class="fs-5 text-dark mb-3">
                        Hi {user.firstName ?: user.mail}!
                    </p>
                    <p class="fs-5 text-dark mb-3">
                        Someone has logged into your account. We just want to confirm that it was you. If you did not initiate this process, please reset your password!
                    </p>
                </div>

                {#include components/footer /}
            </div>
        </div>
    </div>
</body>
