{#include components/header /}

<body class="d-flex flex-column h-100">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center p-4">
                    {#include components/title /}

                    <p class="fs-5 text-dark mb-3">
                        Hi {user.firstName ?: user.mail}, welcome to mood!
                    </p>
                    <p class="fs-5 text-dark mb-3">
                        Your account has been created successfully. Please click the button below to verify your account.
                    </p>

                    <a type="button" class="btn btn-primary btn-md mt-4" href="https://{context.request().authority()}/auth/verify/${user.verifyToken}">Verify Account</a>
                </div>

                {#include components/footer /}
            </div>
        </div>
    </div>
</body>