{#include components/header /}

<body class="d-flex flex-column h-100">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center p-4">
                    {#include components/title /}

                    <p class="fs-5 text-dark mb-3">
                        Hi {user.firstName ?: user.mail}!
                    </p>
                    <p class="fs-5 text-dark mb-3">
                        You have initiated a password reset. Please click on the button below to reset your password. If you didn't request the reset, please ignore the email and your password will not be changed.
                    </p>

                    <a type="button" class="btn btn-primary btn-md mt-4" href="https://{context.request().authority()}/auth/password/reset/{user.resetToken}">Reset Password</a>
                </div>

                {#include components/footer /}
            </div>
        </div>
    </div>
</body>